h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
body {
    background-color: #01161f;
    
}
body {
    font-family: 'Waiting for the Sunrise', cursive; 
    font-size:30px; 
    margin: 10px 50px; 
    letter-spacing: 6px; 
    font-weight: bold;
  }
  <div id="typedtext">super sus</div>